<aside class="sticky-top d-none d-md-block col-md-6 col-lg-8 g-0 idx-login-img pt-8 px-8">

  <h1 class="idx-message-headline no-border pt-8 mt-8">Supporting transparency<br>in SEND</h1>
  <p class="idx-message-body mt-6">The Education, Health and Care Hub (EHC Hub) supports engagement, contributions and collaboration on EHC needs assessments, plans and reviews.</p>
  <p class="idx-message-body mt-6">Complete transparency for families, professionals and education settings, transforming the way we work together.</p>
  <!-- <p class="idx-message-afterword">Transparency for families, professionals and education settings.</p> -->

</aside>
