<div class="modal fade" id="logoutModal" tabindex="-1" aria-labelledby="logoutModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5 no-border" id="logoutModalLabel">Logout</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Are you sure that you wish to logout?</p>
        <p>Choose <strong>No</strong> to continue working or <strong>Yes, logout</strong> to leave the Directory Platform.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-neutral-50" data-bs-dismiss="modal">No</button>
        <a type="button" class="btn btn-primary" href="/">Yes, logout</a>
      </div>
    </div>
  </div>
</div>
