<aside class="idx-sidenav d-md-block border-end" id="idx-sidenav">
    <!-- #BeginLibraryItem "/Library/Contents.lbi" -->
    <nav class="collapse idx-links sticky-top d-block" aria-label="EHC Hub navigation">
        <ul class="list-unstyled d-flex flex-column mb-0 pt-1 pb-5 px-4" id="idx-menu">
            <li class="pt-5 pb-1 mx-md-auto"><a href="/datastore" data-bs-toggle="tooltip" data-bs-title="Datastore"><i class="fal fa-database idx-nav-icon fa-fw" aria-hidden="true"></i><span class="d-md-none ms-2">Datastore</span></a></li>
            <li class="pt-6 pb-1 mx-md-auto"><a href="#" data-bs-toggle="tooltip" data-bs-title="Reporting"><i class="fal fa-chart-line idx-nav-icon fa-fw" aria-hidden="true"></i><span class="d-md-none ms-2">Reporting</span></a></li>
            <li class="pt-6 pb-1 mx-md-auto"><a href="#" data-bs-toggle="tooltip" data-bs-title="APIs"><i class="fal fa-draw-circle idx-nav-icon fa-fw" aria-hidden="true"></i><span class="d-md-none ms-2">APIs</span></a></li>
            <li class="pt-6 pb-1 mx-md-auto"><a href="#" data-bs-toggle="tooltip" data-bs-title="Administration"><i class="fal fa-cog idx-nav-icon fa-fw" aria-hidden="true"></i><span class="d-md-none ms-2">Administration</span></a></li>
        </ul>
    </nav>
    <!-- #EndLibraryItem -->
</aside>
